<%- include('includes/header') %>
      
 


     <main>

        <!-- hero area start -->
        <section class="hero__area hero__height grey-bg-3 d-flex align-items-center">
           <div class="hero__shape">
              <img class="circle" src="assets/img/icon/hero/hero-circle.png" alt="circle">
              <img class="circle-2" src="assets/img/icon/hero/hero-circle-2.png" alt="circle">
              <img class="square" src="assets/img/icon/hero/hero-square.png" alt="circle">
              <img class="square-2" src="assets/img/icon/hero/hero-square-2.png" alt="circle">
              <img class="dot" src="assets/img/icon/hero/hero-dot.png" alt="circle">
              <img class="triangle" src="assets/img/icon/hero/hero-triangle.png" alt="circle">
           </div>
           <div class="container">
              <div class="row" >
                 <!-- <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8"> -->
                    <div class="hero__content">
                       <h2 class="hero__title">
                          <span>The world’s largest Marketplace</span>
                         
                       </h2>
                       <p>The bee's knees pardon you plastered it's all gone to pot cheeky bugger wind up down.</p>
                       <div class="hero__search">
                          <form action="#">
                             <div class="hero__search-inner d-xl-flex">
                                <div class="hero__search-input">
                                   <span><i class="far fa-search"></i></span>
                                   <input type="text" placeholder="Search for products">
                                </div>
                                <button type="submit" class="m-btn ml-20"> <span></span> search</button>
                             </div>
                          </form>
                       </div>
                    </div>
                 <!-- </div> -->
                 <!-- <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="hero__thumb-wrapper scene ml-70">
                       <div class="hero__thumb one d-none d-lg-block">
                          <img class="layer" data-depth="0.2" src="assets/img/categories/g_electro (1).jpg" alt="">
                       </div>
                       <div class="hero__thumb two">
                          <img class="layer" data-depth="0.3" src="assets/img/categories/phone.jpg" alt="">
                       </div>
                       <div class="hero__thumb three">
                          <img class="layer" data-depth="0.4" src="assets/img/categories/p_electro.jpg" alt="">
                       </div>
                    </div>
                 </div> -->
              </div>
           </div>
        </section>
        <!-- hero area end -->

        <!-- category area start -->
        <section class="category__area pt-105 pb-135">
           <div class="container">
              <div class="row">
                 <div class="col-xxl-12">
                    <div class="section__title-wrapper text-center mb-60">
                       <h2 class="section__title">Browse <br> Popular Categories</h2>
                       <p>Find over our categories.</p>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
                    <div class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp" data-wow-delay=".3s" >
                       <div class="category__icon mb-25">
                          <a href="#"><img src="assets/img/categories/pc (2).jpg" alt=""></a>
                       </div>
                       <div class="category__content">
                          <h3 class="category__title">
                             <a href="product.html">Computers</a>
                          </h3>
                          <a href="product.html" class="link-btn">
                          <i class="far fa-long-arrow-right"></i>
                          Learn More
                          </a>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
                    <div class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                       <div class="category__icon mb-25">
                          <a href="#"><img src="assets/img/categories/phone.jpg" alt=""></a>
                       </div>
                       <div class="category__content">
                          <h3 class="category__title">
                             <a href="product.html"> Smartphones</a>
                          </h3>
                          <a href="product.html" class="link-btn">
                          <i class="far fa-long-arrow-right"></i>
                          Learn More
                          </a>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
                    <div class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                       <div class="category__icon mb-25">
                          <a href="#"><img src="assets/img/categories/electro (2).jpg" alt=""></a>
                       </div>
                       <div class="category__content">
                          <h3 class="category__title">
                             <a href="product.html">Electronics</a>
                          </h3>
                          <a href="product.html" class="link-btn">
                          <i class="far fa-long-arrow-right"></i>
                          Learn More
                          </a>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
                    <div class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp" data-wow-delay=".9s">
                       <div class="category__icon mb-25">
                          <a href="#"><img src="assets/img/categories/home (1).jpg" alt=""></a>
                       </div>
                       <div class="category__content">
                          <h3 class="category__title">
                             <a href="/products">Smart Home</a>
                          </h3>
                          <a href="/products" class="link-btn">
                          <i class="far fa-long-arrow-right"></i>
                          Learn More
                          </a>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-xxl-12">
                    <div class="category__more mt-30 text-center">
                       <a href="/categories" class="m-btn m-btn-2"> <span></span> View all categories</a>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <!-- category area end -->

        <!-- trending area start -->
        
        <!-- trending area end -->

        

        <!-- product area start -->
        <section class="product__area pt-105 pb-110 grey-bg-2">
           <div class="container">
              <div class="row">
                 <div class="col-xxl-12">
                    <div class="section__title-wrapper text-center mb-60">
                       <h2 class="section__title">Latest <br> Products</h2>
                    </div>
                 </div>
              </div>
              <div class="row">
                 
                    <% Produits.jData.forEach(function(produit) { %>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                               <div class="product__thumb-inner fix w-img">
                                  <a href="/products/<%=produit.id_produit%>">
                                  <img src="<%=produit.img_produit%>" alt="">
                                  </a>
                               </div>
                            </div>
                            <div class="product__content">
                               <div class="product__meta mb-10 d-flex justify-content-between align-items-center">
                                  <div class="product__tag">
                                     <a href="/products/<%=produit.id_produit%>"><%=produit.nom_produit%></a>
                                  </div>
                                  <div class="product__price">
                                     <span><%=produit.prix%> $</span>
                                  </div>
                               </div>
                               <h3 class="product__title">
                                  <a href="/products/<%=produit.id_produit%>"><%=produit.details%></a>
                               </h3>
                               <p class="product__author">by <a href="#">Theme Pure</a> in <a href="#">Templates</a></p>
                            </div>
                         </div>
                          
                        </div>
                    <% }) %>
                 
                
              </div>
              <div class="row">
                 <div class="col-xxl-12">
                    <div class="product__more text-center mt-30">
                       <a href="product.html" class="m-btn m-btn-2"> <span></span> Explore Premium</a>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <!-- product area end -->

       

        <!-- brand area start -->
        <div class="brand__area pb-15">
           <div class="container">
              <div class="row">
                 <div class="col-xxl-12">
                    <div class="brand__slider owl-carousel wow fadeInUp" data-wow-delay=".5s">
                       <div class="brand__thumb">
                          <img src="assets/img/brand/brand-1.png" alt="">
                       </div>
                       <div class="brand__thumb">
                          <img src="assets/img/brand/brand-2.png" alt="">
                       </div>
                       <div class="brand__thumb">
                          <img src="assets/img/brand/brand-3.png" alt="">
                       </div>
                       <div class="brand__thumb">
                          <img src="assets/img/brand/brand-4.png" alt="">
                       </div>
                       <div class="brand__thumb">
                          <img src="assets/img/brand/brand-5.png" alt="">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- brand area end -->

        <!-- testimonial area start -->
        <div class="testimonial__area pt-50 pb-115 fix">
           <div class="container">
              <div class="testimonial__inner p-relative pb-110">
                 <div class="testimonial__bg p-absolute">
                    <img src="assets/img/bg/testimonial-bg.png" alt="">
                 </div>
                 <div class="row">
                    <div class="col-xxl-12">
                       <div class="testimonial__slider owl-carousel wow fadeInUp" data-wow-delay=".5s">
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-1.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Justin Case</h5>
                                   <span>@justin</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Tomfoolery chimney pot loo easy peasy twit he lost his bottle lavatory excuse my French up the duff cup of char bender fantastic arse.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-2.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Gunther Beard</h5>
                                   <span>@beard</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-3.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Joss Sticks</h5>
                                   <span>@sticks</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Tomfoolery chimney pot loo easy peasy twit he lost his bottle lavatory excuse my French up the duff cup of char bender fantastic  arse.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-4.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Samuel Serif</h5>
                                   <span>@justin</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-2.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Shahnewaz Sakil</h5>
                                   <span>@Shahnewaz</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-3.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Joss Sticks</h5>
                                   <span>@sticks</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Tomfoolery chimney pot loo easy peasy twit he lost his bottle lavatory excuse my French up the duff cup of char bender fantastic  arse.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-2.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Gunther Beard</h5>
                                   <span>@beard</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-4.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Samuel Serif</h5>
                                   <span>@justin</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-1.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Samuel Serif</h5>
                                   <span>@justin</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- testimonial area end -->

        
        <!-- banner area end -->
     </main>

     <%- include('includes/footer') %>

