<%- include('includes/header') %>


<main>

   <!-- bg shape area start -->
   <div class="bg-shape">
      <img src="assets/img/shape/shape-1.png" alt="">
   </div>
   <!-- bg shape area end -->

   <!-- product area start -->
   <section class="product__area po-rel-z1 pt-100 pb-115 grey-bg">
      <div class="container">
         <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 order-lg-first order-last">
               <div class="product__sidebar mr-30">
                  <div class="product__sidebar-widget  white-bg mb-30">
                     <div class="sidebar__widget mb-20">
                        <form action="#">
                           <div class="sidebar__widget-head d-flex align-items-center justify-content-between">
                              <h4 class="sidebar__widget-title">Category</h4>
                              <button type="submit" class="sidebar__clear-btn"><i
                                    class="fal fa-repeat"></i>Clear</button>
                           </div>
                           <div class="sidebar__widget-content">
                              <div class="sidebar__check-wrapper">
                                 <ul>
                                    <% Categories.jData.forEach(function(category) { %>
                                       <li class="d-flex justify-content-between align-items-center">
                                          <div class="sidebar__check d-flex align-items-center">
                                             <input class="m-check-input" type="checkbox" id="m-wp">
                                             <label class="m-check-label" for="m-wp">
                                                <%=category.nom_categ%>
                                             </label>
                                          </div>
                                          <span>76</span>
                                       </li>
                                       <% }) %>
                                 </ul>
                              </div>
                           </div>
                        </form>
                     </div>


                  </div>
               </div>
            </div>
               <div class="col-xxl-8 col-xl-8 col-lg-8">
                  <div class="row">
                     <% Produits.jData.forEach(function(produit) { %>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                           <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                              <div class="product__thumb">
                                 <div class="product__thumb-inner fix w-img">
                                    <a href="/products/<%=produit.id_produit%>">
                                       <img src="<%=produit.img_produit%>" alt="">
                                       
                                    </a>
                                 </div>
                              </div>
                              <div class="product__content">
                                 <div class="product__meta mb-10 d-flex justify-content-between align-items-center">
                                    <div class="product__tag">
                                       <a href="/products/<%=produit.id_produit%>">
                                          <%=produit.nom_produit%>
                                       </a>
                                    </div>
                                    <div class="product__price">
                                       <span>
                                          <%=produit.prix%> $
                                       </span>
                                    </div>
                                 </div>
                                 <h3 class="product__title">
                                    <a href="/products/<%=produit.id_produit%>">
                                       <%=produit.details%>
                                    </a>
                                 </h3>
                                 <p class="product__author">by <a href="#">Theme Pure</a> in <a
                                       href="#">Templates</a></p>
                              </div>
                           </div>
                        </div>
                        <% }) %>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- product area end -->
</main>
   <%- include('includes/footer') %>